<div class="border-2 border-black/10 text-lg p-4 md:mx-28 mb-24 bg-secondary md:py-8">
  <div class="flex flex-col items-center mb-12">
    <h1 class="text-2xl font-semibold text-primary">SUBCRIPTION FORM</h1>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit.</P>
  </div>
  <div class="flex flex-col md:flex-row gap-4 md:space-x-2 justify-center md:items-center">
    <p><input class="rounded-md bg-white p-2 md:p-3 w-full md:w-[300px]" type="text" placeholder="Your name"></p>
    <p><input class="rounded-md bg-white p-2 md:p-3 w-full md:w-[300px]" type="text"placeholder="Email address"></p>
    <p><button class="rounded-md p-2 px-4 bg-primary text-white">SUBSCRIBE</button></p>
  </div>
</div>



