<nav class="w-1/2 float-right mr-4 h-auto md:h-[60px] md:w-full bg-navbarFooter font-sans">
  <ul class="flex flex-col p-2 items-start md:flex-row justify-center text-[16px] md:h-full font-medium text-primary md:items-center uppercase md:space-x-6">
    <li class="hover:font-semibold hover:bg-secondary p-2 px-6 rounded-lg md:rounded-full"> <a href="">Design</a></li>
    <li class="hover:font-semibold hover:bg-secondary p-2 px-6 rounded-lg md:rounded-full"> <a href="">Inspiration</a></li>
    <li class="hover:font-semibold hover:bg-secondary p-2 px-6 rounded-lg md:rounded-full"> <a href="">Sports</a></li>
    <li class="hover:font-semibold hover:bg-secondary p-2 px-6 rounded-lg md:rounded-full"> <a href="">Politcs</a></li>
  </ul>
</nav>
