<header class="bg-white py-4 shadow-md md:h-fit h-fit w-full items-center flex md:justify-center">
    <a href=" # "
      class="flex justify-center md:bg-secondary p-4  md:px-10 text-[24px] text-primary w-fit md:rounded-full rounded-md font-fontcin font-bold">
      NGAJ-BLOG
    </a>
    <span class="md:hidden flex flex-1"></span>
    <button (click)="addNewValue()" class="md:hidden bg-none mr-4">
      <span class="material-symbols-outlined">
        menu
        </span>
    </button>
</header>
