<div class="bg-white mt-16 shadow-xl py-10 space-y-6 rounded-lg">
  <h1 class="text-2xl font-medium m-4">Comments(115,583)</h1>
  <div class="bg-[#f0f0f0] m-4 p-4 px-6 space-y-4">
    <h4 class="text-lg text-indigo-800">John Deo</h4>
    <small class="text-red-500 text-sm">LAST UPDATED-JAN-19-2023</small>
    <p class="text-indigo-900">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates qui
      voluptate doloribus similique aliquam sit ipsa facilis ipsum, cum velit
    </p>
    <div class="text-blue-600 space-x-6">
      <a href="">Reply</a>
      <a href="">View Reply</a>
      <hr class="mt-3 text-black" />
    </div>
  </div>
  <div class="bg-[#f0f0f0] m-4 p-4 px-6 space-y-4">
    <h4 class="text-lg text-indigo-800">John Deo</h4>
    <small class="text-red-500 text-sm">LAST UPDATED-JAN-19-2023</small>
    <p class="text-indigo-900">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates qui
      voluptate doloribus similique aliquam sit ipsa facilis ipsum, cum velit
    </p>
    <div class="text-blue-600 space-x-6">
      <a href="">Reply</a>
      <a href="">View Reply</a>
      <hr class="mt-3 text-black" />
    </div>
  </div>
  <div class="bg-[#f0f0f0] m-4 p-4 px-6 space-y-4">
    <h4 class="text-lg text-indigo-800">John Deo</h4>
    <small class="text-red-500 text-sm">LAST UPDATED-JAN-19-2023</small>
    <p class="text-indigo-900">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates qui
      voluptate doloribus similique aliquam sit ipsa facilis ipsum, cum velit
    </p>
    <div class="text-blue-600 space-x-6">
      <a href="">Reply</a>
      <a href="">View Reply</a>
      <hr class="mt-3 text-black" />
    </div>
  </div>
</div>
