<div class="w-screen flex justify-center flex-col mt-28 my-20 items-center">
  <div class="w-[80%] bg-primary flex justify-center flex-col py-6 text-lg items-center">
  <h1 class="p-8 text-3xl font-semibold text-white">Terms and Conditions</h1>
    <div class="bg-secondary w-[90%] space-y-8  p-10">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi eveniet
        sint necessitatibus! Blanditiis modi amet doloremque enim reiciendis.
        Quas voluptatem voluptate, officiis autem ipsam mollitia omnis corrupti
        tempora reprehenderit ducimus. Lorem ipsum dolor, sit amet consectetur adipisicing
        elit. Vitae nam aut laboriosam dolor error consequatur assumenda, suscipit officia harum
        esse, ea molestiae nulla porro ipsam! Nobis temporibus minima maxime atque.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi eveniet
        sint necessitatibus! Blanditiis modi amet doloremque enim reiciendis.
        Quas voluptatem voluptate, officiis autem ipsam mollitia omnis corrupti
        tempora reprehenderit ducimus. Lorem ipsum dolor, sit amet consectetur adipisicing
        elit. Vitae nam aut laboriosam dolor error consequatur assumenda, suscipit officia harum
        esse, ea molestiae nulla porro ipsam! Nobis temporibus minima maxime atque.
        tempora reprehenderit ducimus. Lorem ipsum dolor, sit amet consectetur adipisicing
        elit. Vitae nam aut laboriosam dolor error consequatur assumenda, suscipit officia harum
        esse, ea molestiae nulla porro ipsam! Nobis temporibus minima maxime atque.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi eveniet
        sint necessitatibus! Blanditiis modi amet doloremque enim reiciendis.
        Quas voluptatem voluptate, officiis autem ipsam mollitia omnis corrupti
        tempora reprehenderit ducimus. Lorem ipsum dolor, sit amet consectetur adipisicing
        elit. Vitae nam aut laboriosam dolor error consequatur assumenda, suscipit officia harum
        esse, ea molestiae nulla porro ipsam! Nobis temporibus minima maxime atque.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi eveniet
        sint necessitatibus! Blanditiis modi amet doloremque enim reiciendis.
        Quas voluptatem voluptate, officiis autem ipsam mollitia omnis corrupti
        tempora reprehenderit ducimus. Lorem ipsum dolor, sit amet consectetur adipisicing
        elit. Vitae nam aut laboriosam dolor error consequatur assumenda, suscipit officia harum
        esse, ea molestiae nulla porro ipsam! Nobis temporibus minima maxime atque.
        tempora reprehenderit ducimus. Lorem ipsum dolor, sit amet consectetur adipisicing
        elit. Vitae nam aut laboriosam dolor error consequatur assumenda, suscipit officia harum
        esse, ea molestiae nulla porro ipsam! Nobis temporibus minima maxime atque.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi eveniet
        sint necessitatibus! Blanditiis modi amet doloremque enim reiciendis.
        Quas voluptatem voluptate, officiis autem ipsam mollitia omnis corrupti
        tempora reprehenderit ducimus. Lorem ipsum dolor, sit amet consectetur adipisicing
        elit. Vitae nam aut laboriosam dolor error consequatur assumenda, suscipit officia harum
        esse, ea molestiae nulla porro ipsam! Nobis temporibus minima maxime atque.
      </p>
      <button class="rounded-md ml-[580px] w-fit p-4 px-4 bg-primary text-white">BACK TO HOME</button>

    </div>
  </div>



</div>
