<div class="bg-primary text-white flex flex-col w-full justify-center items-center gap-2 py-8 md:mt-24 mt-4">
<h1 class="text-3xl font-semibold md:pt-10">Featured Posts</h1>
<p class="text-lg pb-10 ml-[9px]">Lorem ipsum voluptatem ipsum sequi quas sunt quia iure at, beatae obcaecati sint aperiam tempora debitis.</p>
<div class="flex pl-[5px] flex-wrap gap-8 md:gap-10">
<app-post-card></app-post-card>
<app-post-card></app-post-card>
<app-post-card></app-post-card>
<app-post-card></app-post-card>
</div>
</div>





<div class="flex flex-col w-full justify-center items-center gap-6 md:">
  <div class="flex flex-col w-full justify-center items-center gap-2 py-14">
    <h1 class="text-3xl font-semibold">Latest Posts</h1>
    <p class="text-lg">Lorem ipsum voluptatem ipsum sequi quas sunt quia iure at, beatae obcaecati sint aperiam tempora debitis.</p>
  </div>
  <div class="grid md:grid-cols-2 md:gap-6 lg:grid-cols-3 w-fit py-4  mb-24 justify-center m- bg-navbarFooter">
  <app-post-card></app-post-card>
  <app-post-card></app-post-card>
  <app-post-card></app-post-card>
  <app-post-card></app-post-card>
  <app-post-card></app-post-card>
  <app-post-card></app-post-card>
  </div>
  </div>



