<div class="w-auto mb-12 flex-col md:flex-row flex h-auto text-lg md:justify-center gap-10  mt-4 md:mt-32">
<!-- left div---------------- -->

    <div class="bg-white shadow-sm p-4 md:w-[850px]">
      <div class="text-white text-xl bg-navbarFooter mb-4 shadow-md  font-medium p-4 md:space-x-10">
        <small class="text-red-700 text-center hover:bg-green-50">INSPIRING</small>
        <small class="text-green-700 text-center hover:bg-green-50">FEATURED</small>
        <small class="text-blue-700 text-center hover:bg-green-50">VIEWS-100,256</small>
        <small class="text-yellow-500 bg-navbarFooter  hover:text-red-700 text-cente mt-8">Last update - Jan 10, 2023  </small>
      </div>

      <img class="w-[820px] h-[550px object-cover]" src="https://images.pexels.com/photos/1042423/pexels-photo-1042423.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">

      <div class="bg-navbarFooter shadow-md p-4 py-10">
        <h1 class="text-2xl font-semibold text-primary mb-6">HOW TO START A BLOG IN 2023 EDITED NEW CATEGORY</h1>
        <P class="text-black w-80%">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam numquam accusamus maiores, cumque explicabo quae Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, sint dolore. Cupiditate neque sequi alias pariatur consequatur id nihil iste exercitationem illum? Eligendi harum aspernatur accusantium asperiores repudiandae illum error! doloremque odit pariatur aut dolores dolor eaque similique eius itaque. Sapiente explicabo odit maxime. Tempora? </P>
        <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse possimus deserunt dolor doloremque non natus labore? Explicabo dolore nihil cumque qui harum officia accusamus molestias? Omnis quas exercitationem consequuntur soluta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quia officiis laboriosam dolore inventore repellat commodi quod pariatur beatae, voluptates sit, numquam error aspernatur esse deserunt rem quasi illo. Quidem?</p>
        <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse possimus deserunt dolor doloremque non natus labore? Explicabo dolore nihil cumque qui harum officia accusamus molestias? Omnis quas exercitationem consequuntur soluta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quia officiis laboriosam dolore inventore repellat commodi quod pariatur beatae, voluptates sit, numquam error aspernatur esse deserunt rem quasi illo. Quidem?</p>
        <p class="mt-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse possimus deserunt dolor doloremque non natus labore? Explicabo dolore nihil cumque qui harum officia accusamus molestias? Omnis quas exercitationem consequuntur soluta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quia officiis laboriosam dolore inventore repellat commodi quod pariatur beatae, voluptates sit, numquam error aspernatur esse deserunt rem quasi illo. Quidem?</p>
      </div>


      <div class="md:mt-24">
        <app-comment-form></app-comment-form>
      </div>
      <div class="p-2">
        <app-comment-list></app-comment-list>
      </div>
    </div>

<!-- right div------------------------- -->
  <div class="mb-4 mt-4">
    <div class="flex flex-col gap-8">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
