<div class="max-w-[360px] shadow-lg mx-2 text-lg bg-white rounded-md">
  <img class="min-w-[350px] object-cover rounded-t-md min-h-[255px]" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZEkOpeFhkcJLh1279BEulIoc_U16KTf7C5RUtmXBc3tfrZvgowQ8RIYKfTid5g_2530U&usqp=CAU" alt="">
  <div class="text-primary text-xl font-medium m-4 space-x-4">
    <small class="text-red-700 text-center hover:bg-green-50">Design</small>
    <small class="text-green-700 text-center hover:bg-green-50">Featured</small>
    <small class="text-blue-700 text-center hover:bg-green-50">Views-100,256</small>
  </div>
  <div class="md:text-lg text-lg m-4 space-y-4">
    <h1 class="font-text-3xl font-semibold text-primary">HOW TO START A BLOG IN 2023 EDITED NEW CATEGORY</h1>
    <P class="text-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, doloremque autem at delectus assumenda quae libero perferendis minima sit adipisci sed nulla provident error.</P>
    <small class="text-yellow-500 bg-navbarFooter  hover:text-red-700 text-cente mt-8">Last update - Jan 10, 2023  </small>
  </div>
</div>
